.avatar {
    width: 221px;
    min-height: 205px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin: 0 0 36px;
    background-color: transparent;
}

.avatar img {
    width: 120px;
    height: 120px;
    margin: 0 0 17px;
}

.avatar-name {
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: #444444;
    margin: 0 0 12px;
}

.avatar-text {
    font-family: var(--desc-font);
    font-size: 14px;
    line-height: 14px;
    color: #666666;
    min-height: 38px;
    display: flex;
    align-items: flex-end;
}

.partners-button {
    width: 180px;
    height: 30px;
    display: block;
    border: 2px solid #FF4E50;
    line-height: 30px;
    font-weight: bold;
    font-size: 14px;
    margin: auto;
    color: #FF4E50;
    text-align: center;

}
